<h1>Tarefas</h1>
<% puts current_user%>
<%= link_to 'Nova Tarefa', new_tarefa_path %>

<table>
  <thead>
    <tr>
      <th>Tarefas</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <% @tarefas.each do |tarefa| %>
      <tr>
        <td><%= tarefa.titulo %></td>
        <td>
          <%= link_to 'Editar', edit_tarefa_path(tarefa) %>
          <%= link_to 'Deletar', tarefa_path(tarefa), method: :delete, data: { confirm: 'Você tem certeza de querer excluir essa tarefa?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

