<form action="/login" method="post">
  <!-- Add the CSRF token as a hidden input field -->
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <% if flash[:error] %>
    <div class="alert alert-danger">
      <%= flash[:error] %>
    </div>
    <% end %>
  <button type="submit">Login</button>
</form>
