<h1>Roteiros</h1>
<div>
<%= link_to "Criar Roteiro", new_roteiro_path %>
</div>
<table>
    <thead>
        <tr>
            <th>Roteiro</th>
            <th>Posto</th>
            <!---<th>Usuarios</th> -->
        </tr>
    </thead>
    <tbody>
        <% @roteiros.each do |roteiro| %>
            <tr>
                <td><%= roteiro.nome %><% @roteiro %></td>
                <td><%= roteiro.posto.cliente %></td>
                <td><%# roteiro.usuarios.name%></td>
                <td><%= link_to "Editar", edit_roteiro_path(roteiro) %></td>
                <td>Apagar</td>
            <tr>
        <% end %>
    </tbody>
</table>